
.collection-menu_wrap {
    display: flex;
    justify-content: space-between;
   
}
.collection-header{
    @include bodyLG;
    display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 4px;
  cursor: pointer;
}

.collection-header:hover{
    color: $primary;
}

.collection-header:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: $primary;
    bottom: 0;
    left: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.category-list,
.featured-list,
.more-list {
    padding: 0;
}

.collection-link{
    @include bodyLG;
    text-decoration: none;
    color: $dark;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-link:hover{
    color: $primary;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.figure {
    margin: 0;
}

.collection-menu_wrap-img {
    gap: 24px;
}

.collection-menu-img_blouses {
    margin-right: 24px;
}

.figcaption-text{
    @include bodyMD;
    text-align: left;
    padding-top: 12px;
}


.header__item {
    position: relative;
}


.collection-menu {
    display: none;
    position: fixed;  /* Фіксована позиція для модального вікна */
    top: 90px;           /* Початок від верхнього краю */
    left: 0px;          /* Початок від лівого краю */
    width: 100vw;     /* Покриття всієї ширини екрану */
    height: 550px;    /* Покриття всієї висоти екрану */
    background-color: white; /* Задній фон для модального вікна */
    z-index: 999;     /* Щоб вікно було поверх інших елементів */
    padding: 20px;    /* Внутрішній відступ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка тінь для модального вікна */
    overflow: auto;   /* Прокрутка для довгого контенту */
    padding: 14px;
    
}

.header__item:hover .collection-menu {
    display: block;   /* Показати модальне вікно при наведенні */
}


.category-list, .featured-list, .more-list {
    list-style: none;
    padding: 0;
}

.category-item, .featured-item, .more-item {
    margin-bottom: 10px;
}

.collection-link {
    text-decoration: none;
    color: #000;
    transition: color 250ms ease;
}

.collection-link:hover {
    color: $primary;
}

.collection-menu_wrap-img {
    display: flex;
}

.collection-menu-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    
}

.figcaption-text {
    text-align: center;
    font-size: 14px;
}




