.new-in-menu__container {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.new-in__list--items {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.new-in__list--title {
  @include bodyLG;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 4px;
  cursor: default;
  color: #0C0C0C;
}

.new-in__list--link {
  @include bodyLG;
  text-decoration: none;
  color: $dark;
  color: #404040;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.new-in-menu__featured-items {
  display: flex;
  gap: 24px;
}

.new-in-items__img {
  width: 208px;
  height: 420px;
}

.new-in-items__item {
  margin-top: 0;
}

.new-in-items__text {
  @include bodyMD;
  color: #0C0C0C;
  text-align: left;
}

.new-in-menu__wrapper--lists {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}


.new-in-menu {
  display: none;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100vw;
  height: 550px;
  background-color: white;
  z-index: 999;
  padding: 20px;
  overflow: auto;
  padding-top: 50px;
}

.header__item:hover .new-in-menu {
  display: block;
}

/* Отключаем скролл страницы, когда открыто меню */
body.menu-open {
  overflow: hidden;
}

.new-in__list--title{
  cursor: pointer;
}
.new-in__list--title:hover{
  color: $primary;
}

.new-in__list--link:hover{
  color: $primary;
}

.new-in__list--title:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: $primary;
  bottom: 0;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
      max-width: 960px;
    }
  
    .new-in-menu__container {
      top:  85px;
  
  }
  .new-in__list--title {
      font-size: 16px;}
  
  .new-in__list--link{
      font-size: 14px;
  }
  .new-in-items__img{
      width: 200px;
  }
}