.header__item {
  position: relative;
}

.new_menu {

}
/* Показуємо меню при наведенні */
.header__item:hover .new_menu {
  display: block;
}
.new_menu_wrap {
  padding-top: 82px;
  display: flex;
  gap: 24px;
  padding-left: 108px;
  

}


.new_menu_wrap_title {
  font-size: 18px;
  padding-bottom: 24px;
  position: relative;
}
.new_menu_figures {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding-left: 60px;
}
.new_menu_figures figure {
  flex-shrink: 0;
  position: relative;
}
 .new_menu_figures figcaption {
    position: absolute;
    bottom: -25px;
    left: 65px;
}

.new_menu_wrap_left_item:not(:last-child) {
    padding-bottom: 24px;
}
.new_menu_wrap_title:hover:after {
    content: "";
position: absolute;
width: 70%;
height: 4px;
border: none;
border-radius: 2px;
background-color: $primary;
bottom: 7px;
left: -10px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.new_menu_wrap_title_two:hover:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: $primary;
    bottom: 7px;
    left: -10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.new_menu_wrap_left_item + .new_menu_wrap_right_item {
    font-size: 16px;
}
.new_menu_wrap_left_item:hover {
    color: $primary;
}
.new_menu_wrap_right_item:hover {
    color: $primary;
}