.plus-size-menu__container {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.plus-size__list--items {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;
}

.plus-size__list--title {
    @include bodyLG;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 4px;
    cursor: default;
    color: #0C0C0C;
}

.plus-size__list--link {
    @include bodyLG;
    text-decoration: none;
    color: $dark;
    color: #404040;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.plus-size-menu__featured-items {
    display: flex;
    gap: 24px;
}

.featured-items__img {
    width: 208px;
    height: 420px;
}

.featured-items__item {
    margin-top: 0;
}


.plus-size-menu {
    display: none;
    position: fixed;  /* Фіксована позиція для модального вікна */
    top: 90px;           /* Початок від верхнього краю */
    left: 0px;          /* Початок від лівого краю */
    width: 100vw;     /* Покриття всієї ширини екрану */
    height: 550px;    /* Покриття всієї висоти екрану */
    background-color: white; /* Задній фон для модального вікна */
    z-index: 999;     /* Щоб вікно було поверх інших елементів */
    padding: 20px;    /* Внутрішній відступ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка тінь для модального вікна */
    overflow: auto;   /* Прокрутка для довгого контенту */
    padding: 14px;
}

.header__item:hover .plus-size-menu {
    display: block;
}

.category-list__header:hover{
    color: $primary;
 }
 
 .category-list__header:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: $primary;
    bottom: 0;
    left: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .category-list__link:hover{
    color: $primary;
  }
