.cotton {
  height: 526px;
  width: 100%;
  background: url("../img/Cotton/Cotton_bg.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;


  &_text {
    @include bodyXL;
    color: #272F25;
    width: 495px;
    padding-top: 359px;
    margin-left: 729px;
  }

  &_btn {
    @include buttonSM;
    text-align: center;
    background-color: #FFFFFF;
    border: none;

    margin-left: 1041px;
    width: 183px;
    height: 40px;
    transition: transform 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }
}

/* Extra Large: 1200px - 1300px */
@media (max-width: 1300px) {

  .cotton_text {
    padding-top: 359px;
    margin-left: 629px;
  }

  .cotton_btn {
    margin-left: 920px;
    margin-top: 32px;
  }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {

  .cotton_text {
    padding-top: 359px;
    margin-left: 429px;
  }

  .cotton_btn {
    margin-left: 720px;
    margin-top: 32px;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {

  .cotton_text {
    padding-top: 359px;
    margin-left: 229px;
  }

  .cotton_btn {
    margin-left: 520px;
    margin-top: 32px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {

  .cotton_text {
    padding-top: 350px;
    margin-left: 40px;
  }

  .cotton_btn {
    margin-left: 340px;
    margin-bottom: 16px;
    margin-top: 32px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {

  .cotton {
    background: url("../img/Cotton/cotton_bg_mobile-2x.png");
    background-position-y: 60%;


  }

  .cotton_text {
    width: 450px;
    padding-top: 340px;
    margin-left: 22px;
    text-align: right;
  }

  .cotton_btn {
    margin-left: 320px;
    margin-bottom: 16px;
    margin-top: 32px;
    width: 152px;
    height: 40px;
  }
}