

.header-wrap{
    display: flex;
    padding: 18px;
    align-items: center;
}

.header__list{
    display: flex;
    margin: 0;
}

.header__link{
    text-decoration: none;
    color: $dark;
    @include bodyLG;
    margin-right: 10px;
}

.icon__wrap{
    margin-left: 115px;
}

.header__icon {
    margin-left: 24px;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 250ms ease;
    &:hover {
        cursor: pointer;
        transition: background-color 250ms ease;
        background-color: #2196F3;
    }
}
.header__wrapp {
    display: flex;
}

.enjoy{
    padding: 8px 0 8px 0;
    background-color: $primary;
}

.enjoy-text{
    @include overlineSM;
    text-align: center;
    color: $light;
}



