.header {
    background-color: $light;
    height: auto;
    padding: 24px;

    .container {
        display: flex;
        align-items: center;
    }
}
.header__icon {
    margin-left: 24px;
}
.header__wrapp {
    display: flex;


}

.header__list {
    display: flex;
    margin-bottom: 0;
    margin-right: 109px;
}

.header__link {
    margin-left: 40px;
    text-decoration: none;
    color: $dark;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
}