.container_header{
    padding: 0;
}
.header-wrap{
    justify-content: space-between;
    display: flex;
    padding: 18px 0;
    align-items: center;
    justify-content: space-between;
}

.header__list{
    justify-content: space-between;
    width: 648px;
    display: flex;
    margin: 0;
}

.header__link{
    text-decoration: none;
    color: $dark;
    @include bodyLG;
    margin-right: 10px;
}

.icon__wrap{
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: inline-block;
    padding: 10px; /* Додає трохи відступу навколо іконки */
    border-radius: 50%; /* Округлі краї фону */
    transition: background-color 0.3s ease; /* Плавна анімація зміни фону */
}

.icon-container:hover {
    background-color: green; /* Зміна фону на зелений при ховері */
}

/* Додатково можна додати стиль для іконок, щоб вони відповідали дизайну */
.header__icon {
    width: 24px;
    height: 24px;
}

.header__wrapp {
    display: flex;
}

.header__link:hover{
color: $primary;
}

.enjoy{
    padding: 8px 0 8px 0;
    background-color: $primary;
}

.enjoy-text{
    @include overlineSM;
    text-align: center;
    color: $light;
}

.icon__wrap{
    justify-content: flex-end;
}
.header__icon:not(:last-child){
    margin-right: 24px;
}
.header__icon{
    cursor: pointer;
}

.icon-path {
    transition: fill 250ms ease; /* Додаємо плавний перехід для зміни кольору */
}



.header__icon:hover:not(:nth-child(3)) path {
    fill: $primary; /* Змінюємо колір контурів на зелений для іконок з контурами */
}

.heart-icon-svg:hover path {
    stroke: $primary; /* Змінюємо колір контурів на зелений для іконок з контурами */
}

a:hover + .blur-background {
    opacity: 1;
    visibility: visible;
}

.blur-background {
    display: none;
}

a:hover + .blur-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #0000004d;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
}

a:hover + .blur-background.active {
    opacity: 1;
    visibility: visible;
}





