/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .header__link {
        font-size: 16px;
        margin-right: 40px;
    }

    .header__icon {
        margin-right: 19px;
    }

    .nav {
        margin: 0;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .toggle-header {
        display: block;
        height: 30px;
        width: 30px;
        margin-left: auto;
        position: relative;
    }

    .toggle-header:hover {
        cursor: pointer;
    }

    .toggle-header span {
        top: 15px;
    }

    .toggle-header span,
    .toggle-header span::before,
    .toggle-header span::after {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: #333;
        position: absolute;
        right: 0;
        transition: .3s;
    }

    .toggle-header span::before {
        top: -8px;
    }

    .toggle-header span::after {
        top: 8px;
    }

    .header__list {
        display: none;
    }

    .nav-input[type="checkbox"]:checked~.header__list {
        display: flex;
        flex-direction: column;
    }

    .nav-input[type="checkbox"]:checked~.toggle-header span {
        transform: rotate(-45deg);
    }

    .nav-input[type="checkbox"]:checked~.toggle-header span::before {
        top: 0;
        transform: rotate(0);
    }

    .nav-input[type="checkbox"]:checked~.toggle-header span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .header__list {
        position: absolute;
        top: 113px;
        left: 0;
        width: 100%;
        padding: 20px;
        background: #fff;
        box-shadow: 0 12px 8px #ececec;
        height: 100vh;
        z-index: 999;
    }

    .nav {
        order: 1;
        margin-top: 18px;
    }

    .logo-link {
        order: 3;
    }

    .search-icon {
        order: 2;
        margin-right: 100px;
    }

    .heart-icon {
        order: 4;
        margin-left: 100px;
    }

    .shop-icon {
        order: 5;
    }

    .pearson-icon {
        display: none;
    }

    .header-wrap {
        padding-bottom: 18px;
    }

    .header-icon-svg {
        width: 20px;
        height: 20px;
    }

    .shop-icon {
        margin-right: 0;
    }

    .search-icon {
        margin-right: 150px;
        margin-left: 19px;
    }

    .heart-icon {

        margin-left: 150px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .search-icon {
        margin-right: 100px;
        margin-left: 19px;
    }

    .heart-icon {

        margin-left: 100px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {

    .search-icon,
    .heart-icon {
        margin-right: 4px;
        margin-left: 4px;
    }

    .enjoy-text {
        font-size: 10px;
    }
}