.section__hero {
    height: 600px;
    background-image: url('img/header-img/hero.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero__title {
    width: 315px;
    font-family: Gill Sans MT;
    font-size: 34px;
    font-style: italic;
    font-weight: 400;
    line-height: 61.2px;
    text-align: left;
    padding-top: 300px;
}

.hero__button {
    margin-top: 27px;
    width: 184px;
    height: 40px;
    border: 0;
    background-color: $light;
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
    transform: scale(1);

    &:hover {
        transition: transform 300ms ease-out, box-shadow 300ms ease-out;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}