.section__hero {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
  padding-bottom: 103px;
  background-image: url('/img/header-img/hero.png');
  background-size: cover;
  background-position: 30% center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.hero-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 27px;
}

.hero__title {
  width: 315px;
  font-family: Gill Sans MT;
  font-size: 34px;
  font-style: italic;
  font-weight: 400;
  line-height: 61.2px;
  text-align: left;
  padding-top: 300px;
}

.hero__button {
  width: 184px;
  height: 40px;
  border: 0;
  background-color: $light;
  transition: transform 300ms ease-out, box-shadow 300ms ease-out;
  transform: scale(1);

  &:hover {
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

// breakpoints

/* Extra Large: 1200px - 1300px */
@media (max-width: 1300px) {}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {}

/* Medium: 768px - 991px */
@media (max-width: 991px) {

  .hero__title {
    width: 319px;
  }
  .section__hero {
    background-position: 15% center;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .section__hero {
    background-position: 25% center;
  }

  .hero {
    height: 551px;
    padding-bottom: 16px;
  }

  .hero-wrap .hero__title {
    max-width: 252px;
    font-size: 26px;
  }

  .hero__button {
    width: 170px;
    height: 35px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .section__hero {
    background-position: 25% center;
  }

  .hero__title {
    font-size: 20px;
    max-width: 252px;
  }
}