.modiweek {
    margin-bottom: 88px;
}

.modiweek_title {
    @include H3;
    color: #0C0C0C;
}

.modiweek_outfit-gallery {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 1528px;
  }
  
  figure {
    text-align: center;
    margin-top: 24px;
  }
  
  .gallery_img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .gallery_day {
    @include H6;

    text-align: left;
    margin-top: 38px;
    margin-left: 8px;
  }
  