.mission__elegance {
    height: 600px;
    width: 100%;
    background: url("../img/sustainability/elegance.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;

    .mission__elegance--text {
        @include H2;
        text-align: center;
        color: white;
        padding-top: 478px;
    }
}

//

.mission__sustainability--title {
    @include H3;
    text-align: left;
    color: #0C0C0C;

    margin-top: 32px;
}

.mission__sustainability--text {
    @include bodyXL;
    text-align: left;
    color: #0C0C0C;

    margin-top: 32px;
}

//

.mission__six {
    margin-top: 48px;
}

.mission__six--title {
    @include H4;
    text-align: left;
    color: #0C0C0C;
}

.mission__six--list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 32px;

    gap: 48px;
}

.six__list--item {
    width: 496px;
}

.six__item--title {
    @include H5;
    text-align: left;
    color: #0C0C0C;
}

.six__item--desc {
    @include bodyLG;
    text-align: left;
    color: #0C0C0C;

    margin-top: 16px;
}