.material-title {
    @include H3;
    margin-top: 32px;
}

.material-text__block {
    margin-top: 32px;

    p {
        @include bodyXL;
        text-align: left;
        margin: 0;

    }
}

.material__product--text__block {

    p {
        margin: 0;
    }
}

.material--product {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    &_first {
        margin-top: 48px;
    }
}



.product__right {
    margin-left: 24px;
}

.material__product--left {
    margin-right: 24px;
}

.material__product--title {
    @include H4;
}

.material__product--description {
    @include bodyLG;
    text-align: left;
    margin-top: 16px;
}

.material__product--image__cotton {
    width: 392px;
    height: 359px;
}

.material__product--image__wool {
    width: 496px;
    height: 330px;
}

.material__product--image__linen {
    width: 496px;
    height: 408px;
}

.material__product--image__silk {
    width: 496px;
    height: 408px;
}

.material__product--image__cashmere {
    width: 392px;
    height: 434px;
}

//

.material__text {
    @include bodyXL;
    text-align: left;
    margin-top: 68px;
}

.material__report {
    @include bodyXL;
    text-align: left;
    margin-top: 48px;
    margin-bottom: 48px;

    &--link {
        color: #748C70;
        text-decoration: none;
    }
}
// media points adaptive
/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .material__product--right {
    margin-left: -414px;
    margin-top: 0px;
  }
  .material__product--image__cotton {
    margin-bottom: 685px;
  }
  .product--linen p {
    margin-top: 400px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}
