<div class="breadcrumbs">
    <div class="container">

    </div>
</div>

<section class="contact-us">
    <div class="container">
        <h3 class="contact-us__title">Contact Us</h3>
        <div class="contact-us__letter">
            <p class="contact-letter__rules contact-letter__text">We always love hearing from our customers! Please do not hesitate to contact us should you have any questions regarding our products and sizing recommendations or inquiries about your current order.</p>
            <p class="contact-letter__where contact-letter__text">Contact our Customer Care team through the contact form below, email us at hello@modimal.com or live chat with us via our chat widget on the bottom right hand corner of this page.</p>
            <p class="contact-letter__when contact-letter__text">We will aim to respond to you within 1-2 business days.</p>
        </div>
    </div>
</section>

<section class="write-us">
    <div class="container write-us__container">
        <div class="write-us__title-wrapper">
            <img src="../../img/contact-us/email.svg" alt="" class="write-us__title-img">
            <h4 class="write-us__title">Write Us</h4>
        </div>
        
    </div>
</section>

<section class="contacts__cards">
    <div class="container contacts__cards-container">
        <div class="card__chat-us">
            <img src="../../img/contact-us/chat.svg" alt="" class="card__svg">
            <h3 class="card__title">Chat with us</h3>
            <p class="card__text">We are here and ready to chat</p>
            <button class="card__btn">Start chat</button>
        </div>
        <div class="card__call-us">
            <img src="../../img/contact-us/call.svg" alt="" class="card__svg">
            <h3 class="card__title">Call us</h3>
            <p class="card__text">We're here to Talk to You</p>
            <button class="card__btn">+1(929)460-3208</button>
        </div>
        <div class="card__email-us">
            <img src="../../img/contact-us/email.svg" alt="" class="card__svg">
            <h3 class="card__title">Email Us</h3>
            <p class="card__text">You are welcome to send us an email</p>
            <button class="card__btn">Send Email</button>
        </div>
    </div>
</section>