<section class="sutainability-material">
  <div class="container">

    <h3 class="material-title">Sustainably sourced materials</h3>
    <div class="material-text__block">
      <p>At Modimal, we believe in investing in the now to design for the future. That’s why we are committed to
        sourcing quality materials that will have less impact on the environment.</p>
      <p>So far in 2022, 92% of the base fabrics in our collection are more sustainably sourced. Our goal is To
        use only 100% sustainably sourced materials by 2025.</p>
      <p>There are five kinds of fabrics in our collections that are Organic and responsible sourced, and we
        highlight these so you can make considered choices when you shop.</p>
    </div>

    <div class="material--product material--product_first">
      <img src="img/sustainability/Cotton.png" alt="Cotton" class="material__product--image__cotton">
      <div class="material__product--right product__right">
        <h2 class="material__product--title">Cotton</h2>
        <div class="material__product--text__block">
          <p class="material__product--description">
            We source certified organic cotton, which is grown without the use of pesticides or synthetic fertilizers
            and
            requires less irrigation as it relies mainly on rainwater.
          </p>
          <p class="material__product--description">
            (1). Avoiding harmful pesticides preserves soil biodiversity and protects the health of surrounding
            communities.
          </p>
          <p class="material__product--description">
            (2). Our organic cotton fabrics are made using organic cotton yarns that are certified by the Global Organic
            Textile Standard (GOTS)
          </p>
        </div>
      </div>
    </div>

    <div class="material--product product--wool">
      <div class="material__product--left">
        <h2 class="material__product--title">Wool</h2>
        <p class="material__product--description">
          Wool is a natural fiber with added performance attributes such as temperature regulation, durability, and
          natural water repellency. Considered a circular product by nature, wool can be recycled or biodegraded easily.
          Animal welfare is extremely important to us, and therefore we only source mulesing-free wool from producers
          that follow humane and eco-friendly processes aligned with our animal welfare guidelines.
        </p>
      </div>
      <img src="img/sustainability/Wool.png" alt="Wool" class="material__product--image__wool">
    </div>

    <div class="material--product product--linen">
      <img src="img/sustainability/Linen.png" alt="Linen" class="material__product--image__linen">
      <div class="material__product--right product__right">
        <h2 class="material__product--title">Linen</h2>
        <p class="material__product--description">
          Found throughout our collections, linen is a sustainable fiber made from the flax plant. Flax is naturally
          pest resistant that requires less pesticides, water and energy to produce compared to cotton and polyester.
          Flax aids in sequestering carbon into the soil, which removes carbon dioxide from the atmosphere and is
          beneficial for improving soil health.
        </p>
      </div>
    </div>

    <div class="material--product product--silk">
      <div class="material__product--left">
        <h2 class="material__product--title">Silk</h2>
        <p class="material__product--description">
          Organic silk is a more responsible alternative to making conventional silk through traditional methods. The
          silkworms are fed mulberry tree leaves from organic agriculture that uses no pesticides or harmful chemicals
          and resulting in a lustrous fabric that is gentle on both you and environment. this responsibly sourced
          material epitomizes our dedication to creating exquisite clothing with a conscience.
        </p>
      </div>
      <img src="img/sustainability/Silk.png" alt="Silk" class="material__product--image__silk">
    </div>

    <div class="material--product product--Cashmere">
      <img src="img/sustainability/Cashmere.png" alt="Cashmere" class="material__product--image__cashmere">
      <div class="material__product--right product__right">
        <h2 class="material__product--title">Cashmere</h2>
        <p class="material__product--description">
          We’re proud to source our cashmere through the Good Cashmere Standard by the Aid by Trade Foundation (AbTF).
          This independent standard works to source traceable, sustainably certified cashmere that cares for the
          wellbeing of cashmere goats, protects the environment and supports the herders that produce it.
        </p>
      </div>
    </div>

    <p class="material__text">
      we are continually exploring more sustainable alternatives that offer the same quality and performance. we will
      soon add new fabrics in to our collections which are recycling and repurposing. By giving a new life to leftover
      fabrics through recycling and repurposing, we can reduce our demand on the planet’s limited natural resources.
      Recycled fabrics are made using the waste from both the pre- and post-consumer stage of a product’s life.
    </p>

    <p class="material__report">
      We track our material usage and progress annually as part of Textile Exchange’s Corporate Fibers and Materials
      Benchmark, view our latest report <a href="" class="material__report--link">Here</a>.
    </p>

</section>