<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html" class="bc-link">Home</a></li>
            <li class="breadcrumb-item active bc-link" aria-current="page">FAQs</li>
        </ol>
    </nav>
</div>

<section class="faqs">
    <div class="container faqs-container">

        <h3 class="faqs-title">FAQs</h3>

        <ul class="faq-list">

            <li class="faq-item">
                <div class="faq-item__header" id="changeColor">
                    <h5 class="faq-item__title" id="active_green">How Do I Contact Your Customer Service?</h5>
                    <button class="faq-item__toggle faq-item__toggle--open" id="toggleButton">+</button>
                </div>
                <div class="faq-item__content">
                    <p>Our modimal Customer Service Team is available Monday through Friday, 9 am - 5 pm ET, excluding
                        holidays. You can reach us via email at hello@modimal.com (preferred and our fastest response),
                        via chat using the icon in the right bottom cornern of our website, or via voicemail at +1(929)
                        460-3208. We will make sure to get back to you within 24 business hours.</p>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">When Will My Order Ship?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">Can I Cancel Or Modify My Order?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">What are my shipping options?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">What type of payment methods do you offer?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header" id="changeColor2">
                    <h5 class="faq-item__title" id="active_green2">Which size will fit me best?</h5>
                    <button class="faq-item__toggle faq-item__toggle--open" >+</button>
                </div>
                <div class="faq-item__content">
                    <p>We offer product and body measurements on each of our products pages, just click on “Size Guide”
                        to find your best fit. Measuring guides are included.</p>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">How do I take care of my modimal pieces?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">Where and how do you manufacture your products?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">How do you find and evaluate your suppliers?</h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

            <li class="faq-item">
                <div class="faq-item__header">
                    <h5 class="faq-item__title">How do your suppliers support their workers? </h5>
                    <button class="faq-item__toggle">+</button>
                </div>
            </li>

        </ul>

    </div>
</section>