<section class="best-sellers">
    <div class="container">
        <div class="best-sellers_wrap">
          <div class="bs-title d-flex">
            <h3 class="best-sellers_header">Best Sellers</h3>
            <a href="./product-shop-all.html" class="bs-link-view"><p class="bs-view">View all</p></a>
          </div>
            
            
            <div class="best-selllers__catalog">
                <ul class="catalog-list p-0 d-flex ">
                  
                    <li class="catalog-item">
                        <article class="catalog__card">
                            <div class="catalog__thumb">
                              <div class="heart filled"></div>
                              <img class="catalog__img" src="img/best-sellers/best-sellers_tailored-stretch_1x_jpg.jpg" alt="photo" />
                            </div>
                            <figcaption class="catalog__caption">
                              <h6 class="catalog__title">Тailored Stretch</h6>
                              <div class="catalog-desc d-flex">
                                <p class="catalog-desc__subtitle">Turn It Up Pants</p>
                                <p class="catalog-desc__price">180 $</p>
                              </div>
                              <div class="choose-colour">
                                <img class="catalog__img-color" src="img/best-sellers/black.svg" alt="colour" />
                                <img class="catalog__img-color" src="img/best-sellers/teal.svg" alt="colour" />
                                <img class="catalog__img-color" src="img/best-sellers/green.svg" alt="colour" />
                              </div>
                            </figcaption>
                          </article>
                    </li>

                    <li class="catalog-item">
                        <article class="catalog__card">
                            <div class="catalog__thumb">
                              <div class="heart filled"></div>
                              <img class="catalog__img" src="img/best-sellers/best-sellors_technical-silk_1x_jpg.jpg" alt="photo" />
                            </div>
                            <figcaption class="catalog__caption">
                              <h6 class="catalog__title">Technical Silk</h6>
                              <div class="catalog-desc d-flex">
                                <p class="catalog-desc__subtitle">Make A Splash</p>
                                <p class="catalog-desc__price">120 $</p>
                              </div>
                              <div class="choose-colour">
                                <img class="catalog__img-color" src="img/best-sellers/olive.svg" alt="colour" />
                                <img class="catalog__img-color" src="img/best-sellers/blue.svg" alt="colour" />
                                <img class="catalog__img-color" src="img/best-sellers/black.svg" alt="colour" />
                              </div>
                            </figcaption>
                          </article>
                    </li>

                    <li class="catalog-item">
                        <article class="catalog__card">
                            <div class="catalog__thumb">
                              <div class="heart filled"></div>
                              <img class="catalog__img" src="img/best-sellers/best-sellors_cool-weave_1x_jpg.jpg" alt="photo" />
                            </div>
                            <figcaption class="catalog__caption">
                              <h6 class="catalog__title">Cool Weave</h6>
                              <div class="catalog-desc d-flex">
                                <p class="catalog-desc__subtitle">Anywhere Dress</p>
                                <p class="catalog-desc__price">210 $</p>
                              </div>
                              <div class="choose-colour">
                                <img class="catalog__img-color" src="img/best-sellers/pink.svg" alt="img" />
                                <img class="catalog__img-color" src="img/best-sellers/olive.svg" alt="img" />
                                <img class="catalog__img-color" src="img/best-sellers/green.svg" alt="img" />
                              </div>
                            </figcaption>
                          </article>
                    </li>
                   
                </ul>
            </div>
            
        </div>
        </div>
    </div>
</section>