<section class="collection-menu">
    <div class="container">
        
        <div class="collection-menu_wrap">
            <div class="category animate__animated animate__fadeIn">
                <p class="collection-header category-header">Category</p>
                <ul class="category-list">
                    <li class="category-item"><a href="#" class="collection-link category-link">Shop All</a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Blouses & Tops</a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Pants</a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Dresses & Jumpsuits</a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Outwear & Jackets </a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Pullovers</a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Tees</a></li>
                    <li class="category-item"><a href="#" class="collection-link category-link">Shorts & Skirts</a></li>
                </ul>
            </div>
    
            <div class="featured animate__animated animate__fadeIn">
                <p class="collection-header featured-header">Featured </p>
                    <ul class="featured-list">
                        <li class="featured-item"><a href="#" class="collection-link featured-link">New in</a></li>
                        <li class="featured-item"><a href="#" class="collection-link featured-link">Modiweek</a></li>
                        <li class="featured-item"><a href="#" class="collection-link featured-link">Plus Size</a></li>
                        <li class="featured-item"><a href="#" class="collection-link featured-link">Best Seller</a></li>
                    </ul>
            </div>
    
            <div class="more animate__animated animate__fadeIn">
                <p class="collection-header more-header">More</p>
                    <ul class="more-list">
                        <li class="more-item"><a href="#" class="collection-link more-link">Bundles</a></li>
                        <li class="more-item"><a href="#" class="collection-link more-link">Occasion Wear</a></li>
                        <li class="more-item"><a href="#" class="collection-link more-link">Matching Set</a></li>
                        <li class="more-item"><a href="#" class="collection-link more-link">Suiting</a></li>
                    </ul>
            </div>
            <div class="collection-menu_wrap-img">
                <figure class="figure">
                    <img class="collection-menu-img collection-menu-img_blouses" src="img/collection-menu-img/collection-menu-blouses.png" alt="photo">
                    <figcaption>
                        <p class="figcaption-text">Blouses</p>
                    </figcaption>
                </figure>
                <figure class="figure">
                <img class="collection-menu-img collection-menu-img_plus-size" src="../img/collection-menu-img/collection-menu-plus-size.png" alt="photo">
                    <figcaption>
                        <p class="figcaption-text">Plus Size</p>
                    </figcaption>
                </figure>
            </div>
        </div>
       
    </div>
</section>