<section class="collection">
    <div class="container">
        <h3 class="collection-title">Collection</h3>
        <div class="collection-gallery-wrap">
            <div class="collection-gallery-item">
                <picture>
                    <source srcset="img/fotoblog/11.webp 1x, img/fotoblog/11@2x.webp 2x" type="image/webp"/>
                    <source srcset="img/fotoblog/11.jpg 1x, img/fotoblog/11@2x.jpg 2x" type="image/jpeg"/>
                    <img src="img/fotoblog/11.jpg" alt="фото"/>
                </picture>
                <button class="collection-btn btn-boluses">Boluses</button>
            </div>

            <div class="collection-gallery-item">
                <picture>
                    <source srcset="img/fotoblog/11.webp 1x, img/fotoblog/11@2x.webp 2x" type="image/webp"/>
                    <source srcset="img/fotoblog/11.jpg 1x, img/fotoblog/11@2x.jpg 2x" type="image/jpeg"/>
                    <img src="img/fotoblog/11.jpg" alt="фото"/>
                </picture>
                <button class="collection-btn btn-boluses">Boluses</button>
            </div>

            <div class="collection-gallery-item">
                <picture>
                    <source srcset="img/fotoblog/11.webp 1x, img/fotoblog/11@2x.webp 2x" type="image/webp"/>
                    <source srcset="img/fotoblog/11.jpg 1x, img/fotoblog/11@2x.jpg 2x" type="image/jpeg"/>
                    <img src="img/fotoblog/11.jpg" alt="фото"/>
                </picture>

                <button class="collection-btn btn-boluses">Boluses</button>
            </div>

            <div class="collection-gallery-item">
                <picture>
                    <source srcset="img/fotoblog/11.webp 1x, img/fotoblog/11@2x.webp 2x" type="image/webp"/>
                    <source srcset="img/fotoblog/11.jpg 1x, img/fotoblog/11@2x.jpg 2x" type="image/jpeg"/>
                    <img src="img/fotoblog/11.jpg" alt="фото"/>
                </picture>
                <button class="collection-btn btn-boluses">Boluses</button>
            </div>

        
        </div>
    </div>
</section>
