<section class="follow_us">
    <div class="container">
    <h2 class="follow_title">
        Follow us @modimal
    </h2>

    <div class="follow_container-img">
        <img src="../img/follow-us/glov_one.png" alt="#" class="follow_first">
        <div class="follow_zam">
            
        <img src="../img/follow-us/zam_first.png" alt="#" class="follow_two zam_first">
        <img src="../img/follow-us/zam_two.png" alt="#" class="follow_three zam_two">
        <img src="../img/follow-us/zam_three.png" alt="#" class="follow_four zam_three">
        <img src="../img/follow-us/zam_four.png" alt="#" class="follow_five zam_four">
    </div>
        
    </div>

</div>
</section>