<footer class="footer">
    <div class="container">
        <div class="footer__wrapper--up">
            <div class="footer__column-one">
                <h5 class="footer_title">
                    Join our club, get 15% off for your Birthday
                </h5>

                <form class="footer__form">
                    <div class="input-group">
                        <input type="email" placeholder="Enter Your Email Address" class="footer__input" required>
                        <img class="footer__form-send" src="img/footer/arrow.svg">
                    </div>
                    <div class="footer__checkbox">
                        <input type="checkbox" id="myCheckbox" class="footer-checkbox__box">
                        <p class="footer__checbox-text">By Submittng your email, you agree to receive advertising emails
                            from
                            Modimal.</p>
                    </div>
                </form>
            </div>

            <div class="footer_right">
                <div class="footer__about">
                    <h5 class="footer_about_title footer_title">
                        About Modimal
                    </h5>
                    <ul class="footer__list">
                        <li class="footer_about_desc footer_desc">Collection</li>
                        <li class="footer_about_desc footer_desc">Sustainability</li>
                        <li class="footer_about_desc footer_desc">Privacy Policy</li>
                        <li class="footer_about_desc footer_desc">Support System</li>
                        <li class="footer_about_desc footer_desc">Terms & Condition</li>
                        <li class="footer_about_desc footer_desc">Copyright Notice</li>
                    </ul>
                </div>
                <div class="footer__help">
                    <h5 class="footer_help_title footer_title">
                        Help & Support
                    </h5>
                    <ul class="footer__list footer_help-list">
                        <li class="footer_help_desc footer_desc">Orders & Shipping</li>
                        <li class="footer_help_desc footer_desc">Returns & Refunds</li>
                        <li class="footer_help_desc footer_desc"><a href="./faqs.html" class="footer_desc">FAQs</a>
                        </li>
                        <li class="footer_help_desc footer_desc"><a href="./contact-us.html" class="footer_desc">Contact
                                Us</a></li>
                    </ul>
                </div>
                <div class="footer__join">
                    <h5 class="footer_join_title footer_title">
                        Join Up
                    </h5>
                    <ul class="footer__list">
                        <li class="footer_join_desc footer_desc">Modimal Club</li>
                        <li class="footer_join_desc footer_desc">Careers</li>
                        <li class="footer_join_desc footer_desc">Visit Us</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__wrapper--down">
            <div class="footer__down--first">
                <ul class="footer__down--socials">
                    <li class="footer__socials--list"><a href="footer__socials--link"><img
                                src="img/footer/instagram.svg" alt="" class="footer__socials--img"></a></li>
                    <li class="footer__socials--list"><a href="footer__socials-link"><img src="img/footer/facebook.svg"
                                alt="" class="footer__socials-img"></a></li>
                    <li class="footer__socials--list"><a href="footer__socials-link"><img src="img/footer/pinterest.svg"
                                alt="" class="footer__socials-img"></a></li>
                    <li class="footer__socials--list"><a href="footer__socials-link"><img src="img/footer/tiktok.svg"
                                alt="" class="footer__socials-img"></a>
                    </li>
                </ul>

                <div class="footer__rights">
                    <img class="footer__rights--img" src="img/footer/copyright.svg">
                    <p class="footer__rights--text">2023 modimal. All Rights Reserved.</p>
                </div>
            </div>


            <button class="footer-chat__btn">
                <img src="img/footer/chatbox.svg" class="footer__chat-img">
            </button>
        </div>

    </div>


</footer>