
    <header class="header">
        <div class="container">
       
                <a href="./index.html"><img src="img/header-img/Logo.png" alt=""></a>
                <div class="header__wrapp"></div>
                <ul class="header__list">
                    <li class="header__item"><a class="header__link" href="">Collection</a></li>
                    <li class="header__item"><a class="header__link" href="">New In</a></li>
                    <li class="header__item"><a class="header__link" href="">Modiweek</a></li>
                    <li class="header__item"><a class="header__link" href="">Plus Size</a></li>
                    <li class="header__item"><a class="header__link" href="">Sustainability</a></li>
                </ul>
                <div class="icon__wrap">
                    <img src="img/header-img/Header search icon.png" alt="" class="header__icon">
                    <img src="img/header-img/Header profile icon.png" alt="" class="header__icon">
                    <img src="img/header-img/Header favorite icon.png" alt="" class="header__icon">
                    <img src="img/header-img/Header bag icon.png" alt="" class="header__icon">
                </div>
            </div>
        </div>
    </header>
