
    <header class="header">
        <div class="container">
            <div class="header__wrapp">
                <img src="/img/best-sellers/Logo.png" alt="">
                <ul class="header__list">
                    <li class="header__item"><a class="header__link" href="">Collection</a></li>
                    <li class="header__item"><a class="header__link" href="">New In</a></li>
                    <li class="header__item"><a class="header__link" href="">Modiweek</a></li>
                    <li class="header__item"><a class="header__link" href="">Plus Size</a></li>
                    <li class="header__item"><a class="header__link" href="">Sustainability</a></li>
                </ul>
                <div class="icon__wrap">
                    <img src="img/best-sellers/Header search icon.png" alt="" class="header__icon">
                    <img src="img/best-sellers/Header profile icon.png" alt="" class="header__icon">
                    <img src="img/best-sellers/Header favorite icon.png" alt="" class="header__icon">
                    <img src="img/best-sellers/Header bag icon.png" alt="" class="header__icon">
                </div>
            </div>
        </div>
    </header>
