<section class="modiweek">
    <div class="container">
        <h1 class="modiweek_title">Modiweek</h1>

        <section class="modiweek_outfit-gallery">
            <figure>
                <img class="gallery_img" src="/img/Rectangle12349.png" alt="Outfit for Sunday">
                <figcaption class="gallery_day">Sunday</figcaption>
            </figure>
            <figure>
                <img class="gallery_img" src="#" alt="Outfit for Monday">
                <figcaption class="gallery_day">Monday</figcaption>
            </figure>
            <figure>
                <img class="gallery_img" src="#" alt="Outfit for Tuesday">
                <figcaption class="gallery_day">Tuesday</figcaption>
            </figure>
            <figure>
                <img class="gallery_img" src="#" alt="Outfit for Sunday">
                <figcaption class="gallery_day">Wednesday</figcaption>
            </figure>
            <figure>
                <img class="gallery_img" src="#" alt="Outfit for Sunday">
                <figcaption class="gallery_day">Thursday</figcaption>
            </figure>
        </section>
    </div>
</section>