<section class="modiweek">
    <div class="container">
        <h1 class="modiweek_title">Modiweek</h1>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="modiweek__thumb">
                    <div class="heart heart_modi"></div>
                    <img class="gallery_img" src="img/modiweek/Outfit_Sunday.jpg" alt="Outfit for Sunday">
                    </div>
                    <figcaption class="gallery_day">Sunday</figcaption>
                </div>
                <div class="swiper-slide">
                    <div class="modiweek__thumb">
                    <div class="heart heart_modi"></div>
                    <img class="gallery_img" src="img/modiweek/Outfit_Monday.jpg" alt="Outfit for Monday">
                    </div>
                    <figcaption class="gallery_day">Monday</figcaption>
                </div>
                <div class="swiper-slide">
                    <div class="modiweek__thumb">
                    <div class="heart heart_modi"></div>
                    <img class="gallery_img" src="img/modiweek/Outfit_Tuesday.jpg" alt="Outfit for Tuesday">
                    </div>
                    <figcaption class="gallery_day">Tuesday</figcaption>
                </div>
                <div class="swiper-slide">
                    <div class="modiweek__thumb">
                    <div class="heart heart_modi"></div>
                    <img class="gallery_img" src="img/modiweek/Outfit_Wednesday.jpg" alt="Outfit for Sunday">
                    </div>
                    <figcaption class="gallery_day">Wednesday</figcaption>
                </div>
                <div class="swiper-slide">
                    <div class="modiweek__thumb">
                    <div class="heart heart_modi"></div>
                    <img class="gallery_img Thursday" src="img/modiweek/Outfit_Thursday.jpg" alt="Outfit for Sunday">
                    </div>
                    <figcaption class="gallery_day">Thursday</figcaption>
                </div>
                

            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
   var swiper = new Swiper(".mySwiper", {
     pagination: {
       el: ".swiper-pagination",
     },
   });
 </script>