<section class="new_menu" id="new_menu">
    <div class="container">
    <div class="new_menu_wrap">
        <div class="new_menu_wrap_right">
            <p class="new_menu_wrap_right_item new_menu_wrap_right_item_title new_menu_wrap_title">Category</p>
            <p class="new_menu_wrap_right_item">Shop All</p>
            <p class="new_menu_wrap_right_item">Tops & Boluses</p>
            <p class="new_menu_wrap_right_item">Tees</p>
            <p class="new_menu_wrap_right_item">Pants</p>
            <p class="new_menu_wrap_right_item">Jackets & Outwears</p>
            <p class="new_menu_wrap_right_item">Pullovers</p>
            <p class="new_menu_wrap_right_item">Dresses & Jumpsuits</p>
            <p class="new_menu_wrap_right_item">Shorts & Skirts</p>
        </div>
        <div class="new_menu_wrap_left">
            <div class="new_menu_wrap_left_item new_menu_wrap_left_item_title new_menu_wrap_title new_menu_wrap_title_two">Trending</div>
            <div class="new_menu_wrap_left_item">Plus Size</div>
            <div class="new_menu_wrap_left_item">Fall Collection</div>
            <div class="new_menu_wrap_left_item">Modiweek</div>
        </div>
        <div class="new_menu_figures"></div>

        <figure class="new_menu_figures">
            <img src="/img/new_menu/left_newinmenu.png" alt="#">
            <figcaption>
                Fall Collection
            </figcaption>
        </figure>

        <figure class="new_menu_figures">
            <img src="/img/new_menu/center_newinmenu.png" alt="#">
            <figcaption>
                Boluses
            </figcaption>
        </figure>
        <figure class="new_menu_figures">
            <img src="/img/new_menu/right_newinmenu.png" alt="#">
            <figcaption>
                Dresses
            </figcaption>
        </figure>
    </div>

</section>