<section class="new-in-menu">
    <div class="container new-in-menu__container">

        <div class="new-in-menu__wrapper--lists">
            <div class="new-in-menu__category-list">
                <p class="new-in__list--title">Category</p>
                <ul class="new-in__list--items">
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Shop All</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Tops & Blouses</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Tees</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Pants</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Jackets & Outerwear</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Pullovers</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Dresses & Jumpsuits</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">Shorts & Skirts</a></li>
                </ul>
            </div>
            <div class="new-in-menu__category-list">
                <p class="new-in__list--title">trending</p>
                <ul class="new-in__list--items">
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">plus size</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">fall collection</a></li>
                    <li class="new-in__list--item"><a href="#" class="new-in__list--link">modiweek</a></li>
                </ul>
            </div>
        </div>


        <div class="new-in-menu__featured-items">
            <figure class="new-in-items__item">
                <img class="new-in-items__img" src="img/new_menu/left_newinmenu.png" alt="Pants">
                <figcaption>
                    <p class="new-in-items__text">fall collection</p>
                </figcaption>
            </figure>
            <figure class="new-in-items__item">
                <img class="new-in-items__img" src="img/new_menu/center_newinmenu.png" alt="Dresses">
                <figcaption>
                    <p class="new-in-items__text">boluses</p>
                </figcaption>
            </figure>
            <figure class="new-in-items__item">
                <img class="new-in-items__img" src="img/new_menu/right_newinmenu.png" alt="Blouses">
                <figcaption>
                    <p class="new-in-items__text">dresses</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>