<section class="plus-size-menu">
    <div class="container plus-size-menu__container">

        <div class="plus-size-menu__category-list">
            <p class="plus-size__list--title">Category</p>
            <ul class="plus-size__list--items">
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Shop All</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Tops & Blouses</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Tees</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Pants</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Jackets & Outerwear</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Pullovers</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Dresses & Jumpsuits</a></li>
                <li class="plus-size__list--item"><a href="#" class="plus-size__list--link">Shorts & Skirts</a></li>
            </ul>
        </div>

        <div class="plus-size-menu__featured-items">
            <figure class="featured-items__item">
                <img class="featured-items__img" src="img/plus-size/Pants.png" alt="Pants">
                <figcaption>
                    <p class="featured-items__text">Pants</p>
                </figcaption>
            </figure>
            <figure class="featured-items__item">
                <img class="featured-items__img" src="img/plus-size/Dresses.png" alt="Dresses">
                <figcaption>
                    <p class="featured-items__text">Dresses</p>
                </figcaption>
            </figure>
            <figure class="featured-items__item">
                <img class="featured-items__img" src="img/plus-size/Blouses.png" alt="Blouses">
                <figcaption>
                    <p class="featured-items__text">Blouses</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>