<section class="sustainability__menu">
    <div class="container plus-size-menu__container">

        <div class="plus-size-menu__category-list">
            <h5 class="plus-size__list--title">Sustainability</h5>
            <ul class="plus-size__list--items">
                <li class="plus-size__list--item"><a href="./sustainability-mission.html" class="plus-size__list--link">Mission</a>
                <li class="plus-size__list--item"><a href="" class="plus-size__list--link">Processing</a>
                <li class="plus-size__list--item"><a href="./sustainability-materials.html" class="plus-size__list--link">Materials</a>
                <li class="plus-size__list--item"><a href="" class="plus-size__list--link">Packaging</a>
                <li class="plus-size__list--item"><a href="" class="plus-size__list--link">Product Care</a>
                <li class="plus-size__list--item"><a href="" class="plus-size__list--link">Our Suppliers</a>
            </ul>
        </div>
        <div class="sustainability__menu--img">
            <img src="img/sustainability/Frame 26086904.png" alt="" class="sustainability__img">
            <img src="img/sustainability/Frame 26086903.png" alt="" class="sustainability__img">
        </div>

    </div>
</section>