<section class="sustanability-menu">
    <div class="container sustanability-menu__container">

        <div class="sustanability-menu__category-list">
            <p class="sustanability__list--title">sustainability</p>
            <ul class="sustanability__list--items">
                <li class="sustanability__list--item"><a href="./sustainability-mission.html" class="sustanability__list--link">mission</a></li>
                <li class="sustanability__list--item"><a href="#" class="sustanability__list--link">processing</a></li>
                <li class="sustanability__list--item"><a href="./sustainability-materials.html" class="sustanability__list--link">materials</a></li>
                <li class="sustanability__list--item"><a href="#" class="sustanability__list--link">packaging</a></li>
                <li class="sustanability__list--item"><a href="#" class="sustanability__list--link">product care</a></li>
                <li class="sustanability__list--item"><a href="#" class="sustanability__list--link">our suppliers</a></li>
            </ul>
        </div>

        <div class="sustanability-menu__featured-items">
            <img class="sustainability-items__img" src="img/sustainability-menu/Frame26086904.png" alt="Dresses">
            <img class="sustainability-items__img" src="img/sustainability-menu/Frame26086903.png" alt="Pants">
        </div>
    </div>
</section>