<section class="sustainability__menu">
<div class="container">
<div class="sustainability__menu__list--wrap">
  
    <ul class="sustainability__list">
        <h5 class="sustainability__title">Sustainability</h5>
     <li class="sustainability__list--item"><a href="" class="sustainability__list--link">Mission</a>
     <li class="sustainability__list--item"><a href="" class="sustainability__list--link">Processing</a>
     <li class="sustainability__list--item"><a href="" class="sustainability__list--link">Materials</a>
     <li class="sustainability__list--item"><a href="" class="sustainability__list--link">Packaging</a>
     <li class="sustainability__list--item"><a href="" class="sustainability__list--link">Product Care</a>
     <li class="sustainability__list--item"><a href="" class="sustainability__list--link">Our Suppliers</a>

    </ul>
</div>
<div class="sustainability__menu--img">
   <img src="../img/sustainability/Frame 26086903.png" alt="" class="sustainability__img">
   <img src="../img/sustainability/Frame 26086904.png" alt="" class="sustainability__img">
</div>

</div>
</section>