/* Large: 992px - 1199px */
@media (max-width: 1199px) {

    .login-left__img {
        display: none;
    }

    .register-01_img {
        display: none;
    }

    .register-01-form {
        margin: 0 auto;
    }

    .or {
        padding: 0;
    }

    .login__right {
        padding-top: 0px;
    }

    .contacts__cards--mobile {
        display: block;
    }

    .contacts__cards {
        display: none;
    }

    .write-us {
        display: none;
    }

    .write-us__mobile {
        display: block;
    }

    // PAYMENT_CART 

    .cart__wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }

    .cart__summary {
        display: none;
    }

    .cart__item--left {
        width: 700px;
    }

    .cart__right {
        width: 700px;
    }

    .cart__summary--list {
        width: auto;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {}

/* Small: 576px - 767px */
@media (max-width: 767px) {

    // PAYMENT_CART

    .cart__item--left {
        width: 516px;
    }

    .cart__right {
        width: 516px;
    }

    .cart__summary--list {
        width: auto;
    }

}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {

    //PAYMENT_CART 

    .cart {
        display: none;
    }

    .cart--mobile {
        display: block;
    }

    .cart__header {
        margin-top: 19px;
        justify-content: initial;
    }

    .cart__header--title {
        @include mobileH1;
        font-weight: 800;
        padding-top: 7px;
        padding-left: 30px;
    }

    .cart__header--back {
        margin-left: 22px;
    }

    .cart__summary--title {
        @include mobileBodyLG;
        margin-top: 29px;
    }

    .cart__list--mobile {
        padding-left: 0;
    }

    .cart__flex--name {
        @include mobileH5;
        margin-top: 0;
    }

    .cart__flex--size {
        @include mobileBodySM;
        margin-top: 8px;
    }

    .cart__flex--color {
        @include mobileBodySM;
        margin-top: 16px;
    }

    .cart__flex--price {
        @include mobileH5;
    }

    .cart__item--img {
        width: 110px;
        height: 115px;
    }

    .summary__price {
        @include mobileBodyLG;
    }

    .summary__total {
        @include mobileBodyLG;
    }

    .cart__guarantee {
        @include mobileOverline;
    }

    .cart__next--btn {
        width: 152px;
        margin-bottom: 40px;
    }

    //REGISTER 

    .register-01_wrap {
        padding: 0;
        padding-top: 32px;
    }

    .register-01-header {
        @include H6;
        color: #0C0C0C;
        font-weight: 700;
    }

    .register-01-form {
        margin-top: 10px;
        width: 100%;
    }

    .or {
        padding: 0;
        margin-top: -8px;
        padding-bottom: 0;
    }

    .register-01-form__input.register-01-form__input--name,
    .register-01-form__input {
        width: 100%;
    }

    .register-01-btn {
        width: 100%;
        display: none;
    }

    .register-01-btn2 {
        display: block;
        margin-top: 32px;
    }

    .register-01-privacy {
        @include mobileBodyXS;
    }

    .register-01_log-in {
        width: 225px;
    }

    .register-01-log-in_link,
    .register-question {
        @include mobileBodySM;
    }

    //LOGIN

    .login {
        padding-bottom: 0;
    }

    .login__title {
        @include H6;
        color: #0C0C0C;
        font-weight: 700;
        padding-bottom: 22px;
    }

    .login__right {
        width: 100%;
    }

    .login__forgot {
        display: none;
    }

    .login__btn {
        width: 100%;
    }

    .login-right__new {
        @include mobileBodySM;
        margin-bottom: 24px;
    }

    @media (max-width: 360px) {
        .login-left__img--mobile {
            top: -10px;
            display: block;
            position: absolute;
            width: 360px;
            left: 0;
        }

        .login__right {
            padding-top: 234px;
            width: 100%;
        }

        .register-01-form {
            margin-top: 210px;
            width: 100%;
        }
    }


    //CONTACT-US

    .contact-us__title {
        @include mobileH1;
    }

    .contact-us__letter {
        padding: 9px 16px;
        @include mobileBodyLG;
        padding-bottom: 0;
    }

    //
}