// LETTER

.contact-us__title {
    @include H3;
    text-transform: capitalize;


    padding-bottom: 24px;
}

.contact-us__letter {
    background-color: #F0F2EF;
    margin-bottom: 32px;
}

.contact-letter__text {
    @include bodyMD;
    text-transform: capitalize;

    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

// WRITE US

.write-us {
    margin-bottom: 88px;
}

.write-us__container {
    width: 1016px;
}

.write-us__title-wrapper {
    display: flex;
    gap: 8px;
    padding-bottom: 32px;
}

.write-us__title-img {
    width: 24px;
    height: 24px;
    padding-top: 5px;
}

.write-us__title {
    @include H4;
    color: #0C0C0C;
}

.information__title {
    @include H5;
    color: #0C0C0C;
}

.form__group {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.form__input {
    width: 100%;
    padding: 0.75rem 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    background: none;
    outline: none;
    resize: none;
}

.form__input:focus {
    border-bottom: 2px solid #007BFF;
}

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown)~.form__label {
    top: -1rem;
    left: 0;
    font-size: 0.8rem;
    color: #007BFF;
}

.form__label {
    position: absolute;
    top: 0.75rem;
    left: 0;
    color: #777;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.submit-btn {
    width: 288px;
    height: 40px;
    background-color: #5A6D57;
    border: none;
    margin-left: 728px;

    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: white;

    transition: transform 0.3s ease;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        /* Збільшення кнопки на 5% */
    }
}

.checkbox {
    border: 1px #A2B39F solid;

}

.checkbox__privacy {
    @include bodySM;
}


// CARDS

.contacts__cards-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.card__chat-us {
    width: 392px;
    height: 176px;
    background-color: #F0F2EF;
    text-align: center;
}

.card__call-us {
    width: 392px;
    height: 176px;
    background-color: #F0F2EF;
    text-align: center;
}

.card__email-us {
    width: 392px;
    height: 176px;
    background-color: #F0F2EF;
    text-align: center;
}

.card__svg {
    margin-top: 18px;
    width: 24px;
    height: 24px;
}

.card__title {
    @include H6;
    margin-top: 12px;

    text-transform: capitalize;
}

.card__text {
    @include bodyXS;

    text-transform: capitalize;
}

.card__btn {
    width: 365px;
    height: 40px;
    border: #5A6D57 1px solid;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
        /* Збільшення кнопки на 5% */
    }
}

.contacts__cards--mobile {
    display: none;
}

.contact__card--mobile {
    width: 100%;
    padding-left: 0;
}

.card__chat-us--mobile {
    width: 100%;
    background-color: #F0F2EF;
}

.card__header--mobile {
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .3s;
}

.card__title--mobile {
    @include mobileH4;
    color: #0C0C0C;
    padding-left: 4px !important;
    margin-bottom: 0;
}

.card__button--mobile {
    margin-right: 8px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform .3s ease;
}

.card__item--mobile {
    background-color: #F0F2EF;
    border-bottom: none !important;
}

.card__header--mobile--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__svg--mobile {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.card--content__text--mobile {
    @include mobileBodyMD;
}

.card__content--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card--content__button--mobile {
    width: 304px;
    border: #5A6D57 1px solid;
    height: 40px;
    margin-bottom: 4px;
}

.write-us__title-wrapper--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.write-us__mobile {
    display: none;
}

.write-us__title-left--mobile {
    display: flex;
    align-items: center;
}

.write-us__title-img--mobile {
    width: 24px;
    height: 24px;
}

.write-us__title--mobile {
    @include H3;
    margin-top: 8px;
    margin-left: 8px;
}

.write-us__title-img--mobile__arrow {
    width: 5px;
    height: 10px;
}

//MODAL

.write-us__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
    &-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      width: 300px;
      text-align: center;
    }
  
    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
    }
  }
  