.modiweek-saturday {

    .container {
        display: flex;
        justify-content: space-between
    }
}


//

.saturday-title {
    @include H3;
}

.saturday-img {
    width: 496px;
    height: 746px;
}

//

.saturday-right {
    width: 598px;
}

.saturday-right__title {
    @include H5;
    color: #0C0C0C;

    margin-top: 134px;
}

.saturday-right__text {
    @include bodyMD;
}

.saturday-right__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.saturday-item__img {
    width: 287px;

}

.saturday-figcaption__left {
    margin-top: 4px;
    margin-left: 6px;
}

.saturday-list__item {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }
}

.saturday-item__new {
    cursor: default;
    position: absolute;
    margin: 23.4px 0 0 23.4px;
    padding-bottom: 0;
    background-color: white;
    border: none;
    width: 83.88px;
    height: 31.21px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.saturday-new__text {
    @include bodySM;

    margin: 2.7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saturday-item__figcaption {
    display: flex;
    justify-content: space-between
}

.figcaption-left__title {
    @include H6;
    margin-bottom: 0;
}

.figcaption-left__text {
    @include bodyMD;
    margin-top: 6px;
    margin-bottom: 0;
}

.figcaption-left__color-wrapper {
    display: flex;
    gap: 6px;
}

.figcaption-left__color {
    margin-top: 6px;
    background-color: black;
    width: 17.63px;
    height: 17.63px;
    border-radius: 50%;
}

.green {
    background-color: #748C70;
}

.figcaption-right__cost {
    @include H6;
    margin-top: 100%;
}

.breadcrumb-item.active {
    cursor: default;
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .modiweek-saturday .container {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .saturday-right {
        width: 100%;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {

    .saturday-left,
    .saturday-right {
        width: 100%;
    }

    .saturday-right {
        margin-top: 650px;
    }

    .saturday-title {
        @include mobileH1;
    }

    .saturday-img {
        position: absolute;
        left: -50px;
    }

    .saturday-item__img {
        width: 152px;
    }

    .figcaption-left__title {
        @include mobileH4;
    }

    .figcaption-left__text {
        @include mobileBodyMD;
    }

    .saturday-figcaption__right {
        display: none;
    }
}