.img__wrap {
    width: 427px;
    height: 512px;
}

.img__wrapper {
    width: 125px;
    height: 512px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product-swiper__img {
    width: 125px;
    margin-top: 16px;
    height: 160px;
}

.product__desc {
    margin-left: 24px;
}

.icon__text {
    color: #868686;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    &:not(:last-child) {
        margin-right: 276px;
    }
}

.iconn__wrap {
    margin-top: 44px;
    margin-bottom: 86px;
}

.product-item__img {
    width: 427px;
    height: 512px;
}

.product-item {
    .container {
        display: flex;
    }
}

.product__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 32px;
}

.product__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 23px;
}

.product__input {
    width: 100%;
    color: #0C0C0C;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    height: 40px;
    border: 1px solid #DFDFDF;
    outline: none;
    padding: 15px;
    background-image: url('../../../img/product/prouduct_order/arrow_drop_down.svg');
    background-position: 99% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 16px;
}

.accordion {
    margin-top: 10px;
    margin-bottom: 33px;
}

.colors__img {
    margin-bottom: 64px;
}

.product__button {
    width: 100%;
    color: $light;
    background-color: $primary;
    height: 40px;
    border: 0;
}

.accordion-item {
    background-color: #F0F2EF;
}

.accordion-button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    &:focus {
        color: green;
    }
}

.accordion__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: $dark;
    padding-left: 23px;
    line-height: 180%;
    text-align: left;
    white-space: pre-wrap;
    margin-bottom: 0;
}

.product-title__block {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px #DFDFDF solid;
    margin: 24px;
    margin-bottom: 8px;
}

.product-text__block {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 180%;
    font-weight: 400;
    margin: 16px;
}

.product-item__block {
    height: 332px;
    margin-left: 24px;
    border: 1px #DFDFDF solid;
    background-color: #F0F2EF;
}

.product-item__button {
    color: $dark;
    font-size: 14px;
    font-weight: 400;
    background-color: $light;
    font-family: 'Montserrat';
    line-height: 180%;
    height: 40px;
    border: 0;
    margin-left: 16px;
    margin-bottom: 32px;
    margin-top: 24px;

    &:nth-child(1) {
        width: 94px;
    }

    &:nth-child(2) {
        width: 189px;
    }

    &:nth-child(3) {
        width: 183px;
    }
}