/* Large: 992px - 1199px */
@media (max-width: 1199px) {}

/* Medium: 768px - 991px */
@media (max-width: 991px) {}

/* Small: 576px - 767px */
@media (max-width: 767px) {}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {

  .faqs-title {
    @include mobileH1;
    margin-bottom: 9px;
  }

  .faq-list .faq-item__title {
    @include mobileH5;
    padding-top: 8px;
    padding-left: 8px;
  }

  .faq-list .faq-item__content {
    @include mobileBodySM;
    padding-left: 8px;
  }

  .faq-list .faq-item__toggle {
    margin-right: 16px;
  }
}