<section class="product-item">
    <div class="container">
      
        <div class="img__wrap">
            <img class="product-item__img" src="../../img/product/prouduct_order/Rectangle 12385.png" alt="">
            <img class="product-item__img" src="../../img/product/prouduct_order/Rectangle 12388.png" alt="">
            <img class="product-item__img" src="../../img/product/prouduct_order/Rectangle 12390.png" alt="">
            <img class="product-item__img" src="../../img/product/prouduct_order/Rectangle 12387.png" alt="">
    </div>
    <div class="product__desc">
    <h2 class="product__title">Wrap Top</h2>
    <p class="product__text">Versatile and universally flattering, our wrap boluse can be tied, draped, snapped and wrapped multiple ways.</p>

    <div class="colors">
        <p class="colors__text">Colors</p>
        <img class="colors__img" src="../../img/product/prouduct_order/Frame 427319484.png" alt="">
    </div>
    <input class="product__input" type="text" placeholder="Size">
    <button type="button" class="product__button">Add To Cart  +$160   </button>
    
    </div>

    </div>
</section>