<div class="breadcrumbs">
    <div class="container">

    </div>
</div>

<section class="modiweek-saturday">
    <div class="container">

        <div class="saturday-left">
            <h3 class="saturday-title">Saturday</h3>
            <img class="saturday-img" src="img/product/modiweek/saturday.png" alt="">
        </div>

        <div class="saturday-right">
            <h5 class="saturday-right__title">Shop the look</h5>
            <p class="saturday-right__text">2 Items</p>

            <ul class="saturday-right__list">
                <li class="saturday-list__item">
                    <img class="saturday-item__img" src="img/product/modiweek/fabric_tranch.png"
                        alt="Outfit for Sunday">
                    <figcaption class="saturday-item__figcaption">
                        <div class="saturday-figcaption__left">
                            <h6 class="figcaption-left__title">FABRIC TRENCH</h6>
                            <p class="figcaption-left__text">Jacket</p>
                            <div class="figcaption-left__color"></div>
                        </div>
                        <div class="saturday-figcaption__right">
                            <h6 class="figcaption-right__cost">$140</h6>
                        </div>
                    </figcaption>
                </li>
                <li class="saturday-list__item">
                    <img class="saturday-item__img" src="img/product/modiweek/structured_corset.png"
                        alt="Outfit for Sunday">
                    <figcaption class="saturday-item__figcaption">
                        <div class="saturday-figcaption__left">
                            <h6 class="figcaption-left__title">STRUCTURED CORSET</h6>
                            <p class="figcaption-left__text">Dress</p>
                            <div class="figcaption-left__color-wrapper">
                                <div class="figcaption-left__color"></div>
                                <div class="figcaption-left__color green"></div>
                            </div>
                        </div>
                        <div class="saturday-figcaption__right">
                            <h6 class="figcaption-right__cost">$140</h6>
                        </div>
                    </figcaption>
                </li>
            </ul>
        </div>

    </div>
</section>

<section class="modiweek"></section>
<div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="heart"></div>
                <img class="gallery_img" src="img/modiweek/Outfit_Sunday.jpg" alt="Outfit for Sunday">
                <figcaption class="gallery_day">Sunday</figcaption>
            </div>
            <div class="swiper-slide">
                <div class="heart"></div>
                <img class="gallery_img" src="img/modiweek/Outfit_Monday.jpg" alt="Outfit for Monday">
                <figcaption class="gallery_day">Monday</figcaption>
            </div>
            <div class="swiper-slide">
                <div class="heart"></div>
                <img class="gallery_img" src="img/modiweek/Outfit_Tuesday.jpg" alt="Outfit for Tuesday">
                <figcaption class="gallery_day">Tuesday</figcaption>
            </div>
            <div class="swiper-slide">
                <div class="heart"></div>
                <img class="gallery_img" src="img/modiweek/Outfit_Wednesday.jpg" alt="Outfit for Sunday">
                <figcaption class="gallery_day">Wednesday</figcaption>
            </div>
            <div class="swiper-slide">
                <div class="heart"></div>
                <img class="gallery_img" src="img/modiweek/Outfit_Thursday.jpg" alt="Outfit for Sunday">
                <figcaption class="gallery_day">Thursday</figcaption>
            </div>
        </div>


        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
</section>