<section class="product-shop-all">
  <div class="container">
      <div class="braed-crumps">
      </div>
      <div class="product-shop-all_photo-section">
      </div>
      <div class="shop-all_main">
        <div class="row">
          <div class="col-4">
            <div class="shop-all_filters">
              <h3 class="filters-header">Filters</h3>
              <div class="shop-all-filters-wrap">
                <!-- Фільтр Sort By -->
                <div class="filter-item ">
                  <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#filterSortBy" aria-expanded="false" aria-controls="filterSortBy">
                    Sort By
                  </button>
                  <div class="collapse" id="filterSortBy">
                    <div class="card card-body">
                      Sort options (Price, Popularity, etc.)
                    </div>
                  </div>
                </div>

                <!-- Фільтр Size -->
                <div class="filter-item">
                  <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#filterSize" aria-expanded="false" aria-controls="filterSize">
                    Size
                  </button>
                  <div class="collapse" id="filterSize">
                    <div class="card card-body">
                      Size options (S, M, L, etc.)
                    </div>
                  </div>
                </div>

                <!-- Фільтр Color -->
                <div class="filter-item">
                  <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#filterColor" aria-expanded="false" aria-controls="filterColor">
                    Color
                  </button>
                  <div class="collapse" id="filterColor">
                    <div class="card card-body">
                      Color options (Red, Green, Blue, etc.)
                    </div>
                  </div>
                </div>

                <!-- Фільтр Collection -->
                <div class="filter-item">
                  <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollection" aria-expanded="false" aria-controls="filterCollection">
                    Collection
                  </button>
                  <div class="collapse" id="filterCollection">
                    <div class="card card-body">
                      Collection options (Summer, Winter, etc.)
                    </div>
                  </div>
                </div>

                <!-- Фільтр Fabric -->
                <div class="filter-item">
                  <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#filterFabric" aria-expanded="false" aria-controls="filterFabric">
                    Fabric
                  </button>
                  <div class="collapse" id="filterFabric">
                    <div class="card card-body">
                      Fabric options (Cotton, Linen, etc.)
                    </div>
                  </div>
                </div>

              </div>
          </div>
          </div>
          <div class="col-8">
            <div class="shop-all_catalog-wrap">
              <ul class="shop-all_catalog p-0 d-flex ">
                 
                  <li class="shop-all_catalog-item">
                    <a href="../../product-order.html" class="shop-all-article-link">
                      <article class="shop-all_catalog__card">
                        <div class="shop-all_catalog__thumb">
                          <img class="shop-all_catalog__img" src="img/product/shop-all/shop-all-item1.png" alt="photo" />
                        </div>
                        <figcaption class="catalog__caption">
                          <h6 class="shop-all_catalog__title">Chill Wrap Top</h6>
                          <div class="shop-all_catalog-desc d-flex">
                            <p class="shop-all_catalog-desc__subtitle">Turn It Up Top</p>
                            <p class="shop-all_catalog-desc__price">$160</p>
                          </div>
                          <div class="choose-colour">
                            <img class="shop-all_catalog-color__img" src="img/best-sellers/green.jpg" alt="colour" />
                          </div>
                        </figcaption>
                      </article>
                    </a>
                     
                  </li>
  
                  <li class="shop-all_catalog-item">
                      <article class="shop-all_catalog__card">
                          <div class="shop-all_catalog__thumb">
                            <img class="shop-all_catalog__img" src="img/product/shop-all/shop-all-item2.png" alt="photo" />
                          </div>
                          <figcaption class="catalog__caption">
                            <h6 class="shop-all_catalog__title">Essential T-Shirt</h6>
                            <div class="shop-all_catalog-desc d-flex">
                              <p class="shop-all_catalog-desc__subtitle">Turn It Up T-Shirt</p>
                              <p class="shop-all_catalog-desc__price">$95</p>
                            </div>
                            <div class="choose-colour">
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/black.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/Color.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/green.jpg" alt="colour" />
                            </div>
                          </figcaption>
                        </article>
                  </li>
  
                  <li class="shop-all_catalog-item">
                      <article class="shop-all_catalog__card">
                          <div class="shop-all_catalog__thumb">
                            <img class="shop-all_catalog__img" src="img/product/shop-all/shop-all-item3.png" alt="photo" />
                          </div>
                          <figcaption class="catalog__caption">
                            <h6 class="shop-all_catalog__title">Shirt Dress</h6>
                            <div class="shop-all_catalog-desc d-flex">
                              <p class="shop-all_catalog-desc__subtitle">Turn It Up Dress</p>
                              <p class="shop-all_catalog-desc__price">$245</p>
                            </div>
                            <div class="choose-colour">
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/black.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/Color.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/green.jpg" alt="colour" />
                            </div>
                          </figcaption>
                        </article>
                  </li>
  
                  <li class="shop-all_catalog-item">
                      <article class="shop-all_catalog__card">
                          <div class="shop-all_catalog__thumb">
                            <img class="shop-all_catalog__img" src="img/product/shop-all/shop-all-item4.png" alt="photo" />
                          </div>
                          <figcaption class="catalog__caption">
                            <h6 class="shop-all_catalog__title">Rule Zip Jacket</h6>
                            <div class="shop-all_catalog-desc d-flex">
                              <p class="shop-all_catalog-desc__subtitle">Turn It Up Jacket</p>
                              <p class="shop-all_catalog-desc__price">$199</p>
                            </div>
                            <div class="choose-colour">
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/green.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/product/shop-all/brown.png" alt="colour" />
                            </div>
                          </figcaption>
                        </article>
                  </li>
  
                  <li class="shop-all_catalog-item">
                      <article class="shop-all_catalog__card">
                          <div class="shop-all_catalog__thumb">
                            <img class="shop-all_catalog__img" src="img/product/shop-all/shop-all-item5.png" alt="photo" />
                          </div>
                          <figcaption class="catalog__caption">
                            <h6 class="shop-all_catalog__title">New Age Linen</h6>
                            <div class="shop-all_catalog-desc d-flex">
                              <p class="shop-all_catalog-desc__subtitle">Turn It Up Pants</p>
                              <p class="shop-all_catalog-desc__price">$180</p>
                            </div>
                            <div class="choose-colour">
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/black.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/nave.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/green.jpg" alt="colour" />
                            </div>
                          </figcaption>
                        </article>
                  </li>
  
                  <li class="shop-all_catalog-item">
                      <article class="shop-all_catalog__card">
                          <div class="shop-all_catalog__thumb">
                            <img class="shop-all_catalog__img" src="img/product/shop-all/shop-all-item6.png" alt="photo" />
                          </div>
                          <figcaption class="catalog__caption">
                            <h6 class="shop-all_catalog__title">Тailored Stretch</h6>
                            <div class="shop-all_catalog-desc d-flex">
                              <p class="shop-all_catalog-desc__subtitle">Turn It Up Pants</p>
                              <p class="shop-all_catalog-desc__price">180 $</p>
                            </div>
                            <div class="choose-colour">
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/black.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/Color.jpg" alt="colour" />
                              <img class="shop-all_catalog-color__img" src="img/best-sellers/green.jpg" alt="colour" />
                            </div>
                          </figcaption>
                        </article>
                  </li>
  
              </ul>
              
          </div>
          </div>
        </div>
         

          <!-- Секція товарів -->
          
        
          </div>
          <button class="shop-all_btn" type="submit"> Load more </button>
      </div>
  </div>
</section>
