<section class="payment">
    <div class="container">
        <img src="img/payment/check_circle_success.svg" alt="" class="status__svg">
        <h2 class="payment__status successful">Payment Successful</h2>
        <p class="payment__text">Thank you for choosing Modimal, Your order will be generated based on your delivery
            request.</p>
        <p class="payment__receipt">the Receipt has been sent to your email.</p>
        <p class="payment__contact">Please Contact us for any query</p>
        <p class="payment__phone">+1(929)460-3208</p>
        <p class="payment__or">OR</p>
        <p class="payment__email">Hello @ modimal.com</p>
    </div>
</section>