<section class="payment-info">
    <div class="container">
        <div class="payment-information-whole-wrap d-flex">
            <div class="payment-info-wrap ">
                <div class="information-input">
                    <a href="./index.html" class="payment-info_link-logo"><img src="img/header-img/Logo.svg" alt=""
                            class="payment-info-logo"></a>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./payment_cart.html" class="bc-link">Cart</a></li>
                            <li class="breadcrumb-item active bc-link" aria-current="page">Info</li>
                        </ol>
                    </nav>
                    </div>
                    <div class="payment-info_contact">
                        <div class="info_contact-title info_contact-title_information d-flex">
                            <p class="info_contact-header">Contact</p>
                            <div class="info-log-wrap d-flex">
                                <p class="info-question">Have An Account?</p>
                                <a href="./login.html" class="info-log-link">Log In</a>
                            </div>
                        </div>
    
                    </div>
                    <label class="ps-info-form__label  info-label">
                        <p class="ps-info-form__label-header info-label-header"></p>
                        <div class="ps-info-form__input-container info-form-input-container">
                            <span class="email-icon"></span>
                            <input class="ps-info-form__input ps-info-form__input--email info-input" type="email"
                                name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                placeholder="E-mail">
                        </div>
                    </label>
                    <br>
                    <label for="agree" class="shopping-payment__label sh-p-contact__label">
                        <input type="checkbox" id="agree" name="agree" value="yes"
                            class="shopping-payment__checkbox sh-p-contact__checkbox">
                        <p class="sh-p-email-text">Email Me With News And Offers</p>
                    </label>
    
                    <div class="info-shop-adress">
                        <p class="info-card-title-shipping">Shopping Address</p>
                        <div class="info-shop-adress-input-wrap">
                            <label class="shopping-address__label info-label">
                                <p class="shopping-address__label-header info-label-header"></p>
                                <div class=" info-form-input-container">
                                    <input class="shopping-address__input info-input" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                        placeholder="Country/Region">
                                </div>
                            </label>
    
    
                            <div class="info-shop-adress-name-wrap d-flex">
                             
                                <div class="shopping-address__input-container shop-input-container info-form-input-container">
                                    <input class="shopping-address__input info-first-name" type="email" name="email"
                                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                        placeholder="First Name">
                                </div>
                                </label>
                                <label class="shopping-address__label info-label"></label>
                                <div class="shopping-address__input-container info-form-input-container">
                                    <input class="shopping-address__input info-last-name" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Last Name ">
                                </div>
                                </label>
                            </div>
    
                            <label class=" info-label">
                                <div class="info-form-input-container">
                                    <input class="shopping-address__input info-input" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                        placeholder="Company(Optional)">
                                </div>
                            </label>
                            <br>
                            <label class="shopping-address__label info-label">
                                <div class=" info-form-input-container">
                                    <input class="shopping-address__input info-input" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Address">
                                </div>
                            </label>
                            <br>
                            <label class="shopping-address__label info-label">
                                <div class=" info-form-input-container">
                                    <input class="shopping-address__input info-input" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                        placeholder="Apartment,Suite,Etc.(Optional)">
                                </div>
                            </label>
    
                            <div class="info-shop-adress-name-wrap d-flex">
                               
                                <div class="shopping-address__input-container info-form-input-container">
                                    <input class="shopping-address__input info-first-name" type="email" name="email"
                                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                        placeholder="Postal Code">
                                </div>
                                </label>
                                <label class="shopping-address__label info-label"></label>
                                <div class="shopping-address__input-container info-form-input-container">
                                    <input class="shopping-address__input info-last-name" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="City">
                                </div>
                                </label>
                            </div>
    
                            <label class="shopping-address__label info-label">
                                <div class=" info-form-input-container">
                                    <input class="shopping-address__input info-input" type="email" name="email" required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Phone">
                                </div>
                            </label>
                        </div>
    
                        <label for="agree" class="shopping-payment__label sh-p-contact__label">
                            <input type="checkbox" id="agree" name="agree" value="yes"
                                class="shopping-payment__checkbox sh-p-contact__checkbox">
                            <p class="sh-p-email-text">Save This Information For Next Time</p>
                        </label>
    
                        <div class="nav-payment-info">
                            <a href="./payment_cart.html" class="r-to-card-link">
                                <button class="r-to-card r-information-to-card" type="submit">
                                    <img src="img/payment-info/arrow_back_ios.svg" alt="Card Icon" class="button-icon">
                                    Return To Card</button>
                            </a>
                            <a href="./payment_shipping.html" class="r-to-card-link">
                                <button class="c-to-shopping c-to-shopping_information" type="submit"> Continue to Shipping</button>
                            </a>
                            
                        </div>
    
    
                    </div>
                </div>
                <div class="information-cart">
                    <div class="logo-bread-adapt">
                        <a href="../../index.html" class="payment-info_link-logo"><img src="img/header-img/Logo.svg" alt=""
                            class="payment-info-logo"></a>
                           <br> 
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../../payment_cart.html" class="bc-link">Cart</a></li>
                            <li class="breadcrumb-item active bc-link" aria-current="page">Info</li>
                        </ol>
                    </nav>
                    </div>
                    <p class="info-card-title">Your Card</p>
                    <div class="info-card-item-wrap">
                        
                        <ul class="cart__list--left">
                            <li class="cart__item--left">
                                <div class="cart__item--left--wrapper cart-info__item--left--wrapper">
                                    <img class="cart__item--img cart-info__item--img" src="img/cart/wrap.png">
                                    <div class="cart__item--flex">
                                        <h6 class="cart__flex--name">Wrap Top</h6>
                                        <p class="cart__flex--size">Size: S</p>
                                        <p class="cart__flex--color">Color: White</p>
                                        <div class="q-and-p d-flex">
                                            <div class="quantity-selector">
                                                <button type="button" class="quantity-btn decrease-btn">-</button>
                                                <input type="number" class="quantity-input" value="1" min="1">
                                                <button type="button" class="quantity-btn increase-btn">+</button>
                                               
                                            </div>
                                            <p class="information-cart-price-item">160$</p>
                                        </div>
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
    
                                <img src="img/cart/close.svg" alt="" class="cart__item--close cart-info__item--close">
                            </li>
                            <li class="cart__item--left">
                                <div class="cart__item--left--wrapper cart-info__item--left--wrapper">
                                    <img class="cart__item--img" src="img/cart/casual.png">
                                    <div class="cart__item--flex">
                                        <h6 class="cart__flex--name">Casual Wild Leg</h6>
                                        <p class="cart__flex--size">Size: S</p>
                                        <p class="cart__flex--color">Color: Dark blue</p>
                                        <div class="q-and-p d-flex">
                                            <div class="quantity-selector">
                                                <button type="button" class="quantity-btn decrease-btn">-</button>
                                                <input type="number" class="quantity-input" value="1" min="1">
                                                <button type="button" class="quantity-btn increase-btn">+</button>
                                            </div>
                                            <p class="information-cart-price-item">130$</p>
                                        </div>
                                    </div>
                                </div>
    
                                <img src="img/cart/close.svg" alt="" class="cart__item--close cart-info__item--close">
                            </li>
                            <li class="cart__item--left">
                                <div class="cart__item--left--wrapper cart-info__item--left--wrapper">
                                    <img class="cart__item--img" src="img/cart/essential.png">
                                    <div class="cart__item--flex">
                                        <h6 class="cart__flex--name">Essential dress</h6>
                                        <p class="cart__flex--size">Size: 2X</p>
                                        <p class="cart__flex--color">Color: black</p>
                                        <div class="q-and-p d-flex">
                                            <div class="quantity-selector">
                                                <button type="button" class="quantity-btn decrease-btn">-</button>
                                                <input type="number" class="quantity-input" value="1" min="1">
                                                <button type="button" class="quantity-btn increase-btn">+</button>
                                            </div>
                                            <p class="information-cart-price-item">195$</p>
                                        </div>
                                    </div>
                                </div>
    
                                <img src="img/cart/close.svg" alt="" class="cart__item--close cart-info__item--close">
                            </li>
                        </ul>
                        <div class="info-card-totals">
                            <div class="info-card-totals-item info-subtotals d-flex">
                                <p class="info-sub-title info-card-totals-desc-title">Subtotal (3)</p>
                                <p class="info-sub-desc info-card-totals-desc">$485.00</p>
                            </div>
                            <div class="info-card-totals-item info-tax d-flex">
                                <p class="info-sub-title info-card-totals-desc-title">Tax</p>
                                <p class="info-sub-desc info-card-totals-desc">$38.80</p>
                            </div>
                            <div class="info-card-totals-item info-shopping d-flex">
                                <p class="info-sub-title info-card-totals-desc-title">Shipping</p>
                                <p class="info-sub-desc info-card-totals-desc">Free</p>
                            </div>
    
                            <div class="info-card-totals-item info-total-order d-flex">
                                <p class="info-sub-title info-card-totals-desc-title">Total Orders:</p>
                                <p class="info-sub-desc info-card-totals-desc">$523.80</p>
                            </div>
                            <p class="info-desc"> The total amount you pay includes all applicable customs duties &
                                taxes. We guarantee no additional charges on delivery</p>
    
                        </div>
                    </div>
                </div>
        </div>
       
       
    </div>
</section>