<section class="payment">
    <div class="container">
        <img src="img/payment/check_circle_error.svg" alt="" class="status__svg">
        <h2 class="payment__status error">Sorry, Payment failed</h2>
        <div class="payment__text--div">
            <p>Unfortunately, your order Cannot Be Completed.</p>
            <p>Please ensure that the billing address you provided is the same one where your debit/credit card is registered.</p>
            <p>Alternatively, please try a different payment method.</p>
        </div>
        <button class="payment__btn">Pay Now</button>
        <div class="payment__back">
            <img src="img/payment/chevron_left.svg" alt="" class="payment__back--svg">
            <a href="./payment_cart.html" class="payment__back--text">Back to My Orders</a>
        </div>
    </div>
</section>