<section class="cart">
    <div class="container">
        <a href="./index.html" class="cart__logo"><img src="img/header-img/Logo.svg" alt=""></a>

        <div class="cart__header">
            <div class="cart__header--left">
                <a href="./index.html" class="cart__header--back">back</a>
                <h3 class="cart__header--title">Your Cart</h3>
            </div>
            <a href="./index.html" class="cart__header--continue">continue shopping</a>
        </div>

        <div class="cart__summary">
            <p class="cart__summary--title">order summary</p>
            <ul class="cart__summary--list">
                <li class="summary__price summary_item">Price</li>
                <li class="summary__quantity summary_item">Quantity</li>
                <li class="summary__total summary_item">Total</li>
            </ul>
        </div>

        <div class="cart__line"></div>

        <div class="cart__wrapper">
            <ul class="cart__list--left">
                <li class="cart__item--left">
                    <div class="cart__item--left--wrapper">
                        <img class="cart__item--img" src="img/cart/wrap.png">
                        <div class="cart__item--flex">
                            <h6 class="cart__flex--name">wrap top</h6>
                            <p class="cart__flex--size">Size: S</p>
                            <p class="cart__flex--color">Color: White</p>
                        </div>
                    </div>

                    <img src="img/cart/close.svg" alt="" class="cart__item--close">
                </li>
                <li class="cart__item--left">
                    <div class="cart__item--left--wrapper">
                        <img class="cart__item--img" src="img/cart/casual.png">
                        <div class="cart__item--flex">
                            <h6 class="cart__flex--name">casual wild leg</h6>
                            <p class="cart__flex--size">Size: S</p>
                            <p class="cart__flex--color">Color: Dark blue</p>
                        </div>
                    </div>

                    <img src="img/cart/close.svg" alt="" class="cart__item--close">
                </li>
                <li class="cart__item--left">
                    <div class="cart__item--left--wrapper">
                        <img class="cart__item--img" src="img/cart/essential.png">
                        <div class="cart__item--flex">
                            <h6 class="cart__flex--name">Essential dress</h6>
                            <p class="cart__flex--size">Size: 2X</p>
                            <p class="cart__flex--color">Color: black</p>
                        </div>
                    </div>

                    <img src="img/cart/close.svg" alt="" class="cart__item--close">
                </li>
            </ul>


            <div class="cart__right">
                <ul class="cart__summary--list" style="margin-top: 40px;">
                    <li class="summary__price summary_item">$160.00</li>
                    <li class="summary__quantity summary_item">
                        <div class="summary__quantity--div">

                        </div>
                    </li>
                    <li class="summary__total summary_item">$160.00</li>
                </ul>
                <ul class="cart__summary--list" style="margin-top: 48px;">
                    <li class="summary__price summary_item">$130.00</li>
                    <li class="summary__quantity summary_item">
                        <div class="summary__quantity--div"></div>
                    </li>
                    <li class="summary__total summary_item">$130.00</li>
                </ul>
                <ul class="cart__summary--list" style="margin-top: 48px;">
                    <li class="summary__price summary_item">$195.00</li>
                    <li class="summary__quantity summary_item">
                        <div class="summary__quantity--div"></div>
                    </li>
                    <li class="summary__total summary_item">$195.00</li>
                </ul>

                <div class="cart__line"></div>

                <ul class="cart__summary--list" style="margin-top: 24px;">
                    <li class="summary__price summary_item" style="width: 104px;">Subtotal (3)</li>
                    <li class="summary__total summary_item">$485.00</li>
                </ul>
                <ul class="cart__summary--list" style="margin-top: 8px;">
                    <li class="summary__price summary_item" style="width: 104px;">Tax</li>
                    <li class="summary__total summary_item">$38.80</li>
                </ul>
                <ul class="cart__summary--list" style="margin-top: 8px;">
                    <li class="summary__price summary_item" style="width: 104px;">shipping</li>
                    <li class="summary__total summary_item">Free</li>
                </ul>
                <ul class="cart__summary--list" style="margin-top: 16px;">
                    <li class="summary__price summary_item" style="width: 114px;">Total Orders:</li>
                    <li class="summary__total summary_item">$523.80</li>
                </ul>

                <p class="cart__guarantee">The total amount you pay includes all applicable customs duties & taxes. We
                    guarantee no additional charges on delivery</p>
                <a href="./payment_information.html"><button class="cart__next--btn">Next</button></a>
            </div>
        </div>
    </div>
</section>