<section class="regiter-01">
  <div class="container">
    <div class="register-01_wrap">

      <picture>
        <source srcset="img-retina\register\register-1x-desktop.png 1x, img-retina\register\register-2x-desktop.png 2x" type="image/jpeg" />
        <img src="img-retina\register\register-1x-desktop.png" alt="фото" class="register-01_img" />
      </picture>

      <div class="register-01-form">
        <h3 class="register-01-header"> Create Account</h3>
        <div class="register-01-form-wrap">
          <label class="register-01-form__label">
            <p class="register-01-form__label-header"></p>
            <div class="register-01-form__input-container register-01-form__input-container--name name-icon">
              <input class="register-01-form__input register-01-form__input--name" type="text" name="name" required
                pattern="^[a-zA-Zа-яА-ЯіІїЇєЄ']{2,30}$" title="Username must be two words separated by space."
                placeholder="First name">
            </div>
          </label>
          <label class="register-01-form__label"></label>
          <p class="register-01-form__label-header"></p>
          <div class="register-01-form__input-container register-01-form__input-container--name name-icon">
            <input class="register-01-form__input register-01-form__input--name" type="text" name="name" required
              pattern="^[a-zA-Zа-яА-ЯіІїЇєЄ']{2,30}$" title="Username must be two words separated by space."
              placeholder="Last name">
          </div>
          </label>

          <label class="register-01-form__label">
            <p class="register-01-form__label-header"></p>
            <div class="register-01-form__input-container register-01-form__input-container--email email-icon">
              <input class="register-01-form__input register-01-form__input--email" type="email" name="email" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="E-mail">
            </div>
          </label>
          <label class="register-01-form__label">
            <p class="register-01-form__label-header"></p>
            <div class="register-01-form__input-container register-01-form__input-container--email email-icon">
              <input class="register-01-form__input register-01-form__input--email" type="email" name="email" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Password">
            </div>
          </label>
        </div>
        <button class="register-01-btn" type="submit">Register Now</button>
        <div class="register-01_log-in">
          <p class="register-question">Already have an account?</p>
          <a href="./login.html" class="register-01-log-in_link">Log in</a>
        </div>
        <p class="or">or</p>

        <div class="login-right__social">
          <a href="" class="social-login__icon social-login__icon--apple"><img src="img/login/apple.svg" alt=""></a>
          <a href="" class="social-login__icon social-login__icon--google"><img src="img/login/google.svg" alt=""></a>
          <a href="" class="social-login__icon social-login__icon--facebook"><img src="img/login/facebook.svg"
              alt=""></a>
        </div>

        <button class="register-01-btn register-01-btn2" type="submit">Register Now</button>

        <p class="register-01-privacy">
          By Clicking Register Now you Agree To
          <a href="#" class="register-01-terms">Terms & Conditions</a> And <br>
          <a href="#" class="register-01-terms privacy-policy">Privacy policy</a>.
        </p>

      </div>
    </div>
  </div>
</section>