<section class="login">
    <div class="container">
        <img class="login-left__img" src="img/login/login__img.png">

        <div class="login__right">
            <h3 class="login__title">Log In</h3>

            <form class="login__form">
                <div class="input-group">
                    <input type="email" placeholder="Email" class="login-input" required>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password" class="login-input" required>
                    <img class="show-password-icon" src="img/login/eye.svg">
                </div>

                <a href="#" class="login__forgot">Forgot Your Password?</a>

                <button type="submit" class="login__btn">Log In</button>
            </form>

            <p class="login-right__or">Or</p>

            <div class="login-right__social">
                <a href="#" class="social-login__icon social-login__icon--apple">
                    <img src="img/login/apple.svg" alt="Apple Login">
                </a>
                <a href="#" class="social-login__icon social-login__icon--google">
                    <img src="img/login/google.svg" alt="Google Login">
                </a>
                <a href="#" class="social-login__icon social-login__icon--facebook">
                    <img src="img/login/facebook.svg" alt="Facebook Login">
                </a>
            </div>

            <p class="login-right__new">New To Modimal? <a class="login-right__new login__new-link" href="./register.html">Create An Account</a></p>
        </div>
    </div>
</section>