.cart {
    margin-bottom: 139px;
    margin-top: 32px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 77px;
}

.cart__header--left {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.cart__header--back {
    @include bodySM;
    color: #5A6D57;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #5A6D57;
    }
}

.cart__header--title {
    @include H3;
    color: #0C0C0C;
    margin-left: 24px;
}

.cart__header--continue {
    @include bodySM;
    color: #5A6D57;
    text-decoration: none;
    cursor: pointer;
    margin-left: 24px;

    &:hover {
        color: #5A6D57;
    }
}

.cart__summary {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.cart__summary--title {
    @include bodyLG;
    text-align: left;
    color: #0C0C0C;
}

.cart__summary--list {
    width: 496px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.summary_item {
    @include bodyLG;
    color: #0C0C0C;
    text-align: left;
    width: 80px;
}

.cart__line {
    margin-top: 24px;
    border: 1px #DFDFDF solid;
}

.cart__wrapper {
    display: flex;
    justify-content: space-between;
}

.cart__list--left {
    padding-left: 0;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cart__item--left {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.cart__item--flex {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.cart__flex--name {
    @include H6;
    margin-top: 8px;
    color: #0C0C0C;
}

.cart__flex--size {
    @include bodyMD;
    color: #404040;
    margin-bottom: 0;
}

.cart__flex--color {
    @include bodyMD;
    color: #404040;
    margin-top: 8px;
}

.cart__item--left--wrapper {
    display: flex;
}

.cart__item--close {
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.summary__quantity--div {
    justify-content: space-between;
    display: flex;
    width: 80px;
    height: 36px;
    background-color: #D1D9CF;
    align-items: center;
    justify-content: center;
}

.cart__right {
    width: 496px;
}

.cart__guarantee {
    @include overlineSM;
    font-weight: bolder;
    color: #202020;
}

.cart__next--btn {
    float: inline-end;
    background-color: #5A6D57;
    width: 184px;
    height: 40px;
    border: none;
    @include buttonSM;
    color: white;
}

//MOBILE

.cart--mobile {
    display: none;
    margin-top: 24px;
}

.cart__flex--mobile {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.cart__item--mobile {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-bottom: 24px;
}

.cart__list--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.summary__total--font {
    @include mobileH5;
}

.cart--item__overlay {
    position: absolute;
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-right: 8px;
}

.cart--item__overlay--content {
    @include mobileBodySM;
    width: 16px;
    height: 17px;
    text-align: center;
    margin-top: 14px;
}

.cart--item__image--container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}